.text-gradient {
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.college-page,
.college-service-page {
 background-image: radial-gradient(circle at top, #2b0040, #000);
  min-height: 100vh;
  padding-bottom: 50px;
}
.hover-card {
  transition: all 0.3s ease;
  border-radius: 15px;
}
.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.imgs{
    max-height: 450px;
  object-fit: cover;
  border: 3px solid #ffcc00;
  transition: transform 0.3s ease;
}
.imgs:hover {
  transform: scale(1.05);
}