.text-gradient {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.corporate-page,
.corporate-service-page {
  background-image: radial-gradient(circle at top, #2b0040, #000);
  min-height: 100vh;
  padding-bottom: 50px;
}

.service-card {
  background-image: radial-gradient(circle at top, #2b0040, #000);
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.corporate-img {
  max-height: 450px;
  object-fit: cover;
  border-radius: 15px;
}
.imgs{
    max-height: 450px;
  object-fit: cover;
  border: 3px solid #ffcc00;
  transition: transform 0.3s ease;
}
.imgs:hover {
  transform: scale(1.05);
}