.nav-bg {
  background-image: radial-gradient(circle at top, #2b0040, #000);
  backdrop-filter: blur(6px);
}

.text-gradient {
  background: linear-gradient(90deg, #ff00cc, #ffcc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-dark .nav-link:hover {
  color: #ffcc00 !important;
}
